<section class = "box-title">
    Your Games:
</section>
<section class = "box-content">
    <%for(let x=0; x<games.length; x++){%>
    
    <section class = "box-section game-box">
        <section class = "box-button game-button" name="<%=games[x].name%>" id="<%=games[x].id%>">
            <section class = "game-title">
                <%=games[x].name%>
                <%for(let y=0; y<games[x].gamemasters.length; y++){%>
                    <%if(games[x].gamemasters[y].id==user.id){%>
                        <span id="<%=games[x].id%>-delete"class="delete-button"><i class="fas fa-times-circle"></i></span>
                    <%}%>
                <%}%>
            </section>
            <p>Gamemasters:</p>
            <section class="gamemaster-section">
                <%for(let y=0; y<games[x].gamemasters.length; y++){%>
                    <section class="player-box"id="<%=games[x].gamemasters[y].id%>"><img class='player-avatar'src='<%=games[x].gamemasters[y].avatar%>'><%=games[x].gamemasters[y].username%></section>
                <%}%>
            </section>
            <p>Players:</p>
            <section class="player-section">
                <%for(let y=0; y<games[x].players.length; y++){%>
                    <section class="player-box" id="<%=games[x].players[y].id%>"><img class='player-avatar'src='<%=games[x].players[y].avatar%>'><%=games[x].players[y].username%></section>
                <%}%>
            </section>
        </section>
    </section>
    <%}%>
</section>
<section id = "new-game" class = "box-section">
    <form id="create-game-form" action="/games/create" method="POST">
        <p class="center-form"><input type="submit" value="Create New Game" class="submit-button" id="create-game-button"></p>
    </form>
    <form id="join-game-form" action="/games/join/<%=user.id%>" method="POST">
        <p class="center-form">Game Id: <input id="game-id-input" type="text" name="gameId" class="form-input"></p>
        <p class="center-form"><input type="submit" value="Join New Game By Id" class="submit-button" id="join-game-button"></p>
    </form>
</section>