<section class = "box-title">
    Files:
</section>
<section id = "files-list-box">
    <section class="half-box left-border">
        <section class = "box-title-half">
            Music:
        </section>
        <section class = 'box-content'>
            <%for(let x=0; x<game.songs.length; x++){%>
            <section class = "box-section">
                <button class="box-button music-play" id="<%=game.songs[x].name%>-button"><%=game.songs[x].name%></button>
            </section>
            <%}%>
        </section>
        <section class = "fill"></section>
    </section>
    <section class="half-box right-border">
        <section class = "box-title-half">
            Images:
        </section>
        <section class = 'box-content'>
            <%for(let x=0; x<game.images.length; x++){%>
            <section class = "box-section image-section">
                <p><%=game.images[x].name%>: </p>
                <div class="image-display" style="background-image: url('<%=game.images[x].url%>');"></div>
            </section>
            <%}%>
        </section>
        <section class = "fill"></section>
    </section>
</section>
<section id="files-box-box">
    <form id="file-upload-form" class="mt-4" action="/game/<%=game._id%>/files" method="POST" enctype="multipart/form-data">
        <p>Upload Files:</p>
        <div class="form-group">
            Name: <input id = "file-name" type = "text" name="name"/>
            <p>File: <input id = "file" type="file" name="file" id="input-files" class="form-control-file border"/></p>
        </div>
        <button id="file-submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>
<!-- Audio -->
<%for(let x=0; x<game.songs.length; x++){%>
    <audio id='<%=game.songs[x].name%>' loop>
        <source src='<%=game.songs[x].url%>'>
    </audio>
<%}%>